*{
    padding: 0;
    margin: 0px;
    background: rgb(23, 23, 27);
    color:white;
    text-decoration: none;
}

#TEXT{
    display: block;
    position: absolute;
    top: 21%;
    left: 45%;
    font-size: 40px;
    animation: changeColor 5s infinite;
}

#TEXT {
	color: #961d55;
	animation: bg 4s infinite;

}
@keyframes bg {
	50% {
		color: #a8711d;
	}
}

header {
	background-color: silver;
}

#SIM{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 30%;
    left: 46%;
    background: rgb(51, 94, 43);
    
}

#NAO{
    width: 70px;
    height: 30px;
    border-radius: 20px;
    display: block;
    position: absolute;
    top: 30%;
    left: 52%;
    background: rgb(153, 26, 26);
}


#SIM:hover{
    border:1px solid;
}

#balao{
    display: block;
    position: absolute;
    background: #0069D9;
    top: 80%;
    left: 0%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-style:solid;
    border-width:5px;
    color: #853333;
    animation: efeitobalao 6s infinite  linear  alternate-reverse ;
}

@keyframes efeitobalao{
    0%,100%{
        top: 80%;
        left: 0%;
    }
    10%{
        top: 60%;
    }
    20%{
        top: 80%;
    }
    40%{
        top: 60%;
    }

    50%{
        top: 80%;
        left: 90%;
    }

}

